.header{
    text-align: center;
}
.header img{
    height: 80px;
}
.header nav{
    background-color: black;
    line-height: 2.5rem;
    font-size: 1.4rem;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover{
    background-color: gray;
}